<nav class="site-header sticky-top py-1 navbar navbar-dark" style="background-color: #212F3D;">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 text-light" href="{{url_for('homepage')}}"><h2><strong>LIFE<em>X</em></strong></h2></a>
    <a class="py-2 d-none d-md-inline-block text-light" href="{{url_for('cases')}}">Тарифні плани</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="{{url_for('contacts')}}">Контакти</a>
    {% if  g.nickname is not none%}
      <a class="py-2 d-none d-md-inline-block text-light"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Особистий кабінет ({{g.nickname}})</a>
      <a class="py-2 d-none d-md-inline-block text-light" href="{{url_for('logout')}}">Вийти</a>
    {% else %}
      <a class="py-2 d-none d-md-inline-block text-light" href="{{url_for('login')}}">Вхід</a>
      <a class="py-2 d-none d-md-inline-block text-light" href="{{url_for('register')}}">Реєстрація</a>
    {% endif %}
  </div>
</nav>