{%extends 'jinja_forms.html'%}
{% block content %}
    <br>
    <div class="container">
        <div class="main-body">
            <!-- Search form -->
            <form action = "{{url_for('admin')}}" method="post" class="form-inline d-flex md-form form-lg mt-0">
              <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control w-50" name="login" type="text" placeholder="Find user by login" aria-label="Search">
                <input type="submit" class="btn btn-info" value = "Знайти запис">
            </form>
            <br>

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{full_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{email}}
                    </div>
                  </div>
                    <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Card Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{bankcard}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Role</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{role}}
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>

            <table class="table">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Тип контракту</th>
                        <th scope="col">Ціна контракту</th>
                        <th scope="col">Дата початку дії</th>
                        <th scope="col">Дата кінця дії</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tbody>
            </table>

        </div>
    </div>
{% endblock %}